* {
  box-sizing: border-box;
}
body {
  background-color: wheat;
  margin: 0;
  margin-top: -2px;
}

button {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-around;
  height: 55px;
  padding: 10px 30px;
  font-size: 24px;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.16);
  letter-spacing: 5px;
}

.logo {
  color: blueviolet;
  font-weight: bold;
}
.simpleBtn,
.hexBtn {
  font-size: 24px;
  background-color: white;
  border: none;
  outline: none;
  letter-spacing: 2px;
}
section {
  height: 720px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  letter-spacing: 5px;
}
.colorBar {
  width: 1100px;
  background-color: black;
  color: white;
  font-size: 48px;
  padding: 10px 20px 14px 20px;
  border-radius: 10px;
}
.myColorText {
  color: wheat;
}
.changeColorBtn {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px 8px 20px;
  background-color: transparent;
  border-radius: 10px;
  margin-top: 30px;
  outline: none;
  letter-spacing: 5px;
}
